.time:hover {
    transform: scale(1.1);
}
.time {
    background-image: url('/FutLovers/img/transparent-polaroid-frame-5f88d02ad2a191.png');
    background-size: 127px 130px;
    background-position: bottom;
    color: #fff;
    text-shadow: 2px 2px 1px black;
    background-repeat: no-repeat;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}
