body {
    font-family: 'Roboto Mono',monospace;
    background-image: url('https://github.com/AnneMDev/times/blob/master/img/topo2.jpg?raw=true');
    background-color: #000000;
    background-size:100%;
    background-position: initial;
    background-repeat: no-repeat;
    
  }
  