body {
    font-family: 'Roboto Mono',monospace;
    background-image: url('/img/topo2.jpg');
    background-color: #000000;
    background-size:100%;
    background-position: initial;
    background-repeat: no-repeat;
    
  }
  