.time {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    width: 130px;
    height: 125px;
}

img {
    width: 55px;
    height: 55px;
    align-items: center;
    padding-top: 24px;
}

.clube {
    margin: 5px;
    font-size: 15px;
}
