.page-logo {
    display: inline;
    margin-left: auto;
    margin-bottom: 0px;
    height: 40px;
    width: 100px;
}

.page-logo.-anne {
    display: block;
    margin-bottom: 0px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    margin-left: 0px;
}