@media (max-width: 900px){
    body {
        background-image: url('https://github.com/AnneMDev/times/blob/master/img/topo3.jpg?raw=true'); 
        background-repeat: repeat;
        max-height: 100%;
    }
}